<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.vcanbuy.vcanbuy</key>
		<string>vcanbuy test</string>
	</dict>
	<key>signingCertificate</key>
	<string>B1E98BF0EF0391D6053BBDF3DF74AF930C264A81</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>B94HYA9BJ7</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
